body {
  background-image: linear-gradient(to bottom, #efe6de, #ebe2da, #e7ddd5, #e3d9d1, #dfd5cd, #d5cbc3, #cbc1b9, #c1b7af, #aea59d, #9c938c, #8a827b, #78716b);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
