body {
  background-image: linear-gradient(to bottom,rgba(203, 255, 188, 1) 0%, rgba(203, 255, 188, 1) 0%, rgba(140, 179, 129, 1) 76%, rgba(94, 120, 87, 0.98) 92%, rgba(94, 120, 87, 0.95) 100%);;
  background-repeat: no-repeat;
  background-size: cover;
}