h2{
     font-size: 50px;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, #053264,#053264,#053264, black);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; /* para compatibilidad */
  -webkit-text-fill-color: transparent; /* Safari */
}