footer{
    background: linear-gradient(to bottom,rgba(61, 61, 59, 0.71) 0%, rgba(61, 61, 59, 1) 71%, rgba(55, 55, 53, 1) 99%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 1) 89%);
}
#fl{
    max-width: 250px;
    max-height: 250px;
}

#TextoFooter{
    display: inline-block;
}